@model System.Data.DataTable
@using System.Data
@{
    Layout = "/Views/Shared/_genral_pages.cshtml"; ;
}
<!-- Nav bar Start -->

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    function ProductDescription(id) {
        var src = $("#pimg_" + id).attr("src");
        $("#pimg").removeAttr("src");
        $("#pimg").attr("src", src);
        var a = $("#pname_" + id).text()
        $("#ptitle").text(a);
        var b = $("#pdetail_" + id).html()
        $("#pdetail").html(b);
        var c = $("#psalerate_" + id).text()
        $("#salerate").text(c);
        var d = $("#pmrp_" + id).text()
        $("#mrp").text(d)
        $('#view').modal('show');

    }

    $(document).ready(function () {
        $(".addtocart").click(function () {

            var product_id = $(this).attr("data_id");
            $("#cart_qty_" + product_id).css("display", "block");
            var quantity = $("#quantity_" + product_id).val()
            if (quantity == 0) {
                $("#cart_qty_" + product_id).css("display", "none");
                $("#quantity_" + product_id).val("1")
            }
            $.ajax({
                url: '/home/AddToCart',
                type: 'POST',
                data: { "product_id": product_id, "quantity": quantity },
                dataType: 'json',
                success: function (res) {
                    if (res == false)
                        window.location.href = "/home/login";
                    //update the cart item
                    var l = '<i class="fa-solid fa-cart-shopping h3 text-danger me-2"></i>';
                    $("#cart_count").html(l + res)
                },
                error: function () {
                    alert('error occured');
                }
            })
        })
    })
</script>

<section class="product-section">
    <div class="container-">
        <div class="row g-sm-4 g-3">
            <div class="col-xxl-3 col-xl-4 d-none d-xl-block">
                <div class="p-sticky">
                    <div class="category-menu">
                        <h3 style="font-size:25px;"> Sub Category</h3>
                        @if (ViewBag.subcategory != null)
                        {
                            foreach (var i in ViewBag.subcategory.Rows)
                            {
                                <ul>
                                    <li class="mb-1">
                                        <div class="category-list">
                                            <img src="~/Content/categoryicon/@i["subcat_icon"]" style="height:70px; width:70px;" class="blur-up lazyload" alt="">
                                            <h5>
                                                <a href="shop-left-sidebar.html" style="font-size:20px;">@i["subcat_name"]</a>
                                            </h5>
                                        </div>
                                    </li>


                                </ul>

                            }
                        }



                    </div>





                </div>
            </div>

            <div class="col-xxl-9 col-xl-8">
                @*<div class="title title-flex">
                       <!-- for product-->


                    </div>*@

                @*<div class="product-box-3 col-3  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="product-header">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/content/images/cake/product/2.png" class="img-fluid blur-up lazyloaded" alt="">
                                </a>

                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Compare">
                                        <a href="compare.html">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Wishlist">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-footer">
                            <div class="product-detail">
                                <span class="span-name">Vegetable</span>
                                <a href="product-left-thumbnail.html">
                                    <h5 class="name">Fresh Bread and Pastry Flour 200 g</h5>
                                </a>
                                <p class="text-content mt-1 mb-2 product-content">
                                    Cheesy feet cheesy grin brie.
                                    Mascarpone cheese and wine hard cheese the big cheese everyone loves smelly
                                    cheese macaroni cheese croque monsieur.
                                </p>
                                <div class="product-rating mt-2">
                                    <ul class="rating">
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        </li>
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        </li>
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        </li>
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star fill"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        </li>
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        </li>
                                    </ul>
                                    <span>(4.0)</span>
                                </div>
                                <h6 class="unit">250 ml</h6>
                                <h5 class="price">
                                    <span class="theme-color">$08.02</span> <del>$15.15</del>
                                </h5>
                                <div class="add-to-cart-box bg-white">
                                    <button class="btn btn-add-cart addcart-button">
                                        Add
                                        <span class="add-icon bg-light-gray">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </button>
                                    <div class="cart_qty qty-box">
                                        <div class="input-group bg-white">
                                            <button type="button" class="qty-left-minus bg-gray" data-type="minus" data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text" name="quantity" value="0">
                                            <button type="button" class="qty-right-plus bg-gray" data-type="plus" data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- 2nd box-->


                <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-md-3 row-cols-2 g-sm-4 g-3 no-arrow
                        section-b-space">

                    @if (ViewBag.products != null)
                    {
                        foreach (DataRow i in ViewBag.products.Rows)
                        {

                            <div>
                                <div class="product-box product-white-bg wow fadeIn">
                                    <div id="pdetail_@i["product_id"]" style="display:none">

                                        @Html.Raw(i["dec"])
                                    </div>
                                    <div class="product-image">
                                        <a href="product-left-thumbnail.html">
                                            <img src="~/Content/categoryicon/@i["product_icon"]"
                                                 id="pimg_@i["product_id"]" class="img-fluid blur-up lazyload" alt="">
                                        </a>
                                        <ul class="product-option">
                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                                @*<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">*@
                                                <a class="" style="margin-left:60px;" onclick="ProductDescription(@i["product_id"])">
                                                    <i data-feather="eye"></i>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="product-detail position-relative">
                                        <a href="product-left-thumbnail.html">
                                            <h6 class="name " id="pname_@i["product_id"]">
                                                @i["product_name"]
                                            </h6>
                                        </a>

                                        <h6 class="sold weight text-content fw-normal"></h6>
                                        <h5 class="sold text-content">
                                            <span class="theme-color price" id="psalerate_@i["product_id"]"> Rs: @i["salerate"]</span>
                                            <del id="pmrp_@i["product_id"]"> Mrp: @i["mrp"]</del><br />
                                            <span class="text-warning">Discount @i["per_discount"] %</span>
                                        </h5>
                                        <br />
                                        @{
                                            string plus = "block", plusminus = "none", quantity = "1";
                                            if (i["quantity"].ToString() != null && i["quantity"].ToString() != "")
                                            {
                                                plus = "none";
                                                plusminus = "block";
                                                quantity = i["quantity"].ToString();
                                            }
                                        }
                                        <div class="add-to-cart-btn-2 addtocart_btn">
                                            <button class="btn addcart-button btn buy-button addtocart me-3" data_id="@i["product_id"]">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                            <div class="cart_qty qty-box-2 ms-0 " style="display:@plusminus ; height:40px; width:100%;" id="cart_qty_@i["product_id"]">
                                                <div class="input-group">
                                                    <button type="button" class="qty-left-minus addtocart" data-type="minus"
                                                            data_id="@i["product_id"]" data-field="">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </button>
                                                    <input class="form-control input-number qty-input" type="text" id="quantity_@i["product_id"]"
                                                           name="quantity" value="@quantity">
                                                    <button type="button" class="qty-right-plus addtocart" data-type="plus"
                                                            data_id="@i["product_id"]" data-field="">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>






            </div>

        </div>
    </div>
</section>
<!-- Product Section End -->

<div class="modal fade theme-modal view-modal" id="view" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header p-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row g-sm-4 g-2">
                    <div class="col-lg-6">
                        <div class="slider-image mx-auto">
                            <img id="pimg" class=" blur-up lazyload" height="350" style="margin-left:50px; margin-top:100px"
                                 alt="">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="right-sidebar-modal">
                            <h4 class="title-name" id="ptitle"></h4>
                            <h4 class="price theme-color" id="salerate">$36.99</h4>
                            <del id="mrp" class="text-danger"></del>


                            <div class="product-detail">
                                <h4>Product Details :</h4>
                                <p id="pdetail"></p>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 